<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <form action="">
            <input placeholder="location" type="text" name="" id="">
            <input type="submit" value="Search">
        </form>
        <p>Use this site to get your weather!</p>
    </div>
    <p></p>
    <p></p>
    {{>footer}}


<script src="/js/app.js"></script>
</body>

</html>